<?xml version="1.0" encoding="UTF-8"?>
	<widget xmlns = "http://www.w3.org/ns/widgets"
		xmlns:gap = "http://phonegap.com/ns/1.0"
		xmlns:android = "http://schemas.android.com/apk/res/android"
		id        = "com.itris.chronos"
		versionCode=""
		version   = "0.0.1">
		<name>Chronos</name>
		<description>El primer reloj inteligente para el control de fichada de personal.</description>
		<author href="http://chronos.itris.com.ar" email="soportecliente@itris.com.ar">Leo Condori</author>
		<feature name="http://api.phonegap.com/1.0/battery"/>
		<feature name="http://api.phonegap.com/1.0/camera"/>
		<feature name="http://api.phonegap.com/1.0/contacts"/>
		<feature name="http://api.phonegap.com/1.0/file"/>
		<feature name="http://api.phonegap.com/1.0/geolocation"/>
		<feature name="http://api.phonegap.com/1.0/media"/>
		<feature name="http://api.phonegap.com/1.0/network"/>
		<feature name="http://api.phonegap.com/1.0/notification"/>
<plugin name="cordova-plugin-battery-status" source="pgb" spec="1.1.0"/>
<plugin name="cordova-plugin-console" source="npm" spec="~1.0.1"/>
<plugin name="cordova-plugin-device" source="pgb" spec="1.0.1"/>
<plugin name="cordova-plugin-geolocation"  source="pgb" spec="1.0.1"/>
<plugin name="cordova-plugin-media" source="pgb" spec="1.0.1"/>
<plugin name="org.apache.cordova.splashscreen" spec="1.0.0" source="pgb" />
<plugin name="cordova-plugin-statusbar" source="npm" spec="~1.0.1"/>

<preference name="phonegap-version" value="cli-6.0.0" />
<preference name="android-build-tool" value="ant" />
<preference name="orientation" value="default" />
<preference name="fullscreen" value="true" />
<preference name="target-device" value="universal" />
<preference name="webviewbounce" value="true" />
<preference name="prerendered-icon" value="false" />
<preference name="stay-in-webview" value="true" />
<preference name="ios-statusbarstyle" value="default" />
<preference name="detect-data-types" value="true" />
<preference name="exit-on-suspend" value="true" />
<preference name="show-splash-screen-spinner" value="true" />
<preference name="auto-hide-splash-screen" value="true" />
<preference name="FadeSplashScreen " value="true" />
<preference name="EnableViewportScale" value="false" />
<preference name="MediaPlaybackRequiresUserAction" value="false" />
<preference name="AllowInlineMediaPlayback" value="true" />
<preference name="BackupWebStorage" value="none" />
<preference name="TopActivityIndicator" value="white" />
<preference name="KeyboardDisplayRequiresUserAction" value="true" />
<preference name="KeyboardShrinksView " value="true" />
<preference name="HideKeyboardFormAccessoryBar" value="true" />
<preference name="SuppressesIncrementalRendering" value="false" />
<preference name="android-minSdkVersion" value="7" />
<preference name="android-targetSdkVersion" value="0" />
<preference name="android-maxSdkVersion" value="0" />
<preference name="android-installLocation" value="auto" />
<preference name="SplashScreenDelay" value="4000" />
<preference name="ErrorUrl" value="null" />
<preference name="BackgroundColor" value="0x000000" />
<preference name="DisallowOverscroll" value="true" />
<preference name="LoadingDialog" value="," />
<preference name="LoadUrlTimeoutValue" value="null" />
		<platform name="ios">
		</platform>
		<platform name="android">
		<icon src="img/app/36x36.png" qualifier="ldpi" />
		<icon src="img/app/48x48.png" qualifier="mdpi" />
		<icon src="img/app/72x72.png" qualifier="hdpi" />
		<icon src="img/app/96x96.png" qualifier="xhdpi" />
		<icon src="img/app/144x144.png" qualifier="xxhdpi" />
		<icon src="img/app/192x192.png" qualifier="xxxhdpi" />
		<splash src="img/app/200x320.png" qualifier="" />
		<splash src="img/app/320x200.png" qualifier="" />
		<splash src="img/app/320x480.png" qualifier="" />
		<splash src="img/app/480x320.png" qualifier="" />
		<splash src="img/app/480x800.png" qualifier="" />
		<splash src="img/app/800x480.png" qualifier="" />
		<splash src="img/app/720x1280.png" qualifier="" />
		<splash src="img/app/1280x720.png" qualifier="" />
		<splash src="img/app/960x1600.png" qualifier="" />
		<splash src="img/app/1600x960.png" qualifier="" />
		<splash src="img/app/1280x1920.png" qualifier="" />
		<splash src="img/app/1920x1280.png" qualifier="" />
		</platform>
		<platform name="winphone">
		</platform>
		 <icon src="icon.png" />
<access origin="http://chronos.itris.com.ar" subdomains="true" />
<allow-intent href="http://*/*" />
<allow-intent href="https://*/*" />
<allow-intent href="tel:*" />
<allow-intent href="sms:*" />
<allow-intent href="mailto:*" />
<allow-intent href="geo:*" />
<platform name="android" />
<allow-intent href="market:*" />

</widget>