<?xml version='1.0' encoding='utf-8'?>
<widget id="com.itris.chronos" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Chronos</name>
    <description>
        El primer reloj inteligente para el control de fichada de personal.
    </description>
    <author email="soportecliente@itris.com.ar" href="http://chronos.itris.com.ar">
        Leo Condori
    </author>
    <content src="index.html" />
    <icon src="img/app/192x192.png" />
    <splash src="img/app/1280x1920.png" />
    <preference name="phonegap-version" value="cli-6.3.0" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <preference name="android-minSdkVersion" value="14" />
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <preference name="BackupWebStorage" value="none" />
    </platform>
    <preference name="DisallowOverscroll" value="true" />
    <preference name="AutoHideSplashScreen" value="true" />
    <preference name="SplashScreenDelay" value="4000" />
    <plugin name="cordova-plugin-whitelist" spec="~1.2.0" />
    <plugin name="cordova-plugin-console" spec="~1.0.1" />
    <plugin name="cordova-plugin-statusbar" spec="~1.0.1" />
    <plugin name="cordova-plugin-battery-status" spec="1.1.0" source="pgb" />
    <plugin name="cordova-plugin-device" spec="1.0.1" source="pgb" />
    <plugin name="cordova-plugin-geolocation" spec="1.0.1" source="pgb" />
    <plugin name="cordova-plugin-media" spec="1.0.1" source="pgb" />
    <plugin name="org.apache.cordova.splashscreen" spec="1.0.0" source="pgb" />
    


	<platform name="android">
		<icon src="img/app/36x36.png" qualifier="ldpi" />
		<icon src="img/app/48x48.png" qualifier="mdpi" />
		<icon src="img/app/72x72.png" qualifier="hdpi" />
		<icon src="img/app/96x96.png" qualifier="xhdpi" />
		<icon src="img/app/144x144.png" qualifier="xxhdpi" />
		<icon src="img/app/192x192.png" qualifier="xxxhdpi" />
		<splash src="img/app/200x320.png" qualifier="" />
		<splash src="img/app/320x200.png" qualifier="" />
		<splash src="img/app/320x480.png" qualifier="" />
		<splash src="img/app/480x320.png" qualifier="" />
		<splash src="img/app/480x800.png" qualifier="" />
		<splash src="img/app/800x480.png" qualifier="" />
		<splash src="img/app/720x1280.png" qualifier="" />
		<splash src="img/app/1280x720.png" qualifier="" />
		<splash src="img/app/960x1600.png" qualifier="" />
		<splash src="img/app/1600x960.png" qualifier="" />
		<splash src="img/app/1280x1920.png" qualifier="" />
		<splash src="img/app/1920x1280.png" qualifier="" />
	</platform>   

    <engine name="android" spec="~5.1.1" />
</widget>
